@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

.vert-flex {
	display: flex;
	flex-direction: column;
}

.hor-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hor-flex--between {
	justify-content: space-between;
}

.hor-flex--left {
	justify-content: flex-start;
}

.body {
	background-color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0.1em 0 rgba(0, 0, 0, .1);
}

.container {
	margin: 0 auto;
	max-width: 700px;
}

.header .container {
	padding: 0.6em 1.2em;
}

.link {
	display: flex;
	text-decoration: none;
}

.header__logo {
	width: 8em;
}

.button {
	background-color: transparent;
	border: none;
	padding: 0;
	display: flex;
}

.header__send-btn {
	color: #000;
	font-size: 1.2em;
}

.main-content {
	width: 100%;
	margin-top: 60px;
}

.story {
	padding-left: 0.9em;
	overflow-x: hidden;
	overflow-y: auto;
}

.story__list {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 1em 0;
	overflow-x: auto;
}

.story__item {
	margin: 0 0.3em;
}

.story__btn {
	overflow: hidden;
	border: double 8px transparent;
	border-radius: 100%;
}

.story__btn--new {
	border-color: white;
	background-image: linear-gradient(white, white), radial-gradient(circle at top right, #f00,#fba365);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.story__photo {
	height: 4.1em;
	width: 4.1em;
}

.feed {
	padding: 0 1.2em;
	overflow: hidden;
}

.post {
	background-color: #fff;
	width: 100%;
	margin-bottom: 1.8em;
	border: 0.1em solid rgba(0, 0, 0, .1);
	border-radius: 0.6em;
	overflow: hidden;
}

.post__header {
	padding: 0.6em 1em 0.6em 0.6em;
}

.post__author-photo {
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	margin-right: 0.5em;
}

.post__author-name {
	font-weight: bold;
	font-size: 0.8em;
	color: #000;
	margin: 0;
}

.post__options-btn {
	color: #000;
	font-size: 1em;
}

.post__image {
	width: 100%;
}

.actions {
	padding: 0.5em 0.6em;
	font-size: 1.5em;
}

.button--animated {
	transition: all 0.2s ease-in-out;
}

.actions__like-btn {
	color: #000;
	margin-right: 1em;
}

.actions__comment-btn {
	color: #000;
}

.actions__mark-btn {
	color: #000;
}

.actions__like-btn:hover {
	color: #ee0101;
}

.actions__comment-btn:hover {
	color: #5454ff;
}

.actions__mark-btn:hover {
	color: #f4f413;
}

.post__footer {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.6em;
}

.best-friend {
	margin-right: 0.5em;
}

.best-friend__photo {
	width: 1.9em;
	height: 1.9em;
	border-radius: 100%;
}

.summary {
	display: flex;
	font-size: 0.8em;
}

.black-label {
	color: #000;
	font-weight: bold;
}